[class*="alert-"] {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

[class*="alert-"] > strong:first-child {
  display: block;
  margin-bottom: 0.25rem;
  color: var(--brand-primary-1);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
}

.alert-default {
  background-color: var(--brand-secondary-4);
}

.alert-info {
  background-color: var(--brand-white);
  color: var(--brand-info);
  border: 1px solid var(--brand-info);
}

.alert-warning {
  background-color: var(--brand-warning);
}

.alert-danger {
  background-color: var(--brand-danger);
}
