/* Validation alert */
.alert-validate {
  background-color: var(--brand-danger-3);
  color: var(--brand-danger-copy-1);
  line-height: 1.1;
  font-size: 18px;
}

.alert-validate {
  padding-left: var(--space-2-1);
  padding-right: var(--space-2-1);
}

/* NOTE: Icon defined in icons.css */
.alert-validate:before {
  width: 1.75rem;
}

.alert-validate p,
.alert-validate li,
.alert-validate ul,
.alert-validate ol {
  color: var(--brand-danger-copy-1);
  font-family: Karbon !important;
  font-size: 18px !important;
  line-height: inherit !important;
}