.brand-primary-1 {
  color: var(--brand-primary-1);
}

.brand-primary-2 {
  color: var(--brand-primary-2);
}

.brand-primary-3 {
  color: var(--brand-primary-3);
}

.brand-secondary-1 {
  color: var(--brand-secondary-1);
}

.brand-secondary-2 {
  color: var(--brand-secondary-2);
}

.brand-secondary-3 {
  color: var(--brand-secondary-3);
}

.brand-secondary-4 {
  color: var(--brand-secondary-4);
}

.bg-brand-primary-1,
.hover-bg-brand-primary-1:hover,
.hover-bg-brand-primary-1:focus {
  background-color: var(--brand-primary-1) !important;
}

.bg-brand-primary-2,
.hover-bg-brand-primary-2:hover,
.hover-bg-brand-primary-2:focus {
  background-color: var(--brand-primary-2) !important;
}

.bg-brand-primary-3,
.hover-bg-brand-primary-3:hover,
.hover-bg-brand-primary-3:focus {
  background-color: var(--brand-primary-3) !important;
}

.bg-brand-secondary-2,
.hover-bg-brand-secondary-2:hover,
.hover-bg-brand-secondary-2:focus {
  background-color: var(--brand-secondary-2) !important;
}

.bg-brand-secondary-3,
.hover-bg-brand-secondary-3:hover,
.hover-bg-brand-secondary-3:focus {
  background-color: var(--brand-secondary-3) !important;
}

.bg-brand-secondary-4,
.hover-bg-brand-secondary-4:hover,
.hover-bg-brand-secondary-4:focus {
  background-color: var(--brand-secondary-4) !important;
}

.border-brand-primary-1 {
  border-color: var(--brand-primary-1) !important;
}

.border-brand-primary-2 {
  border-color: var(--brand-primary-2) !important;
}

.border-brand-primary-3 {
  border-color: var(--brand-primary-3) !important;
}

.border-brand-secondary-1 {
  border-color: var(--brand-secondary-1) !important;
}

.border-brand-secondary-2 {
  border-color: var(--brand-secondary-2) !important;
}

.border-brand-secondary-3 {
  border-color: var(--brand-secondary-3) !important;
}

.border-brand-secondary-4 {
  border-color: var(--brand-secondary-4) !important;
}

.border-transparent {
  border-color: transparent !important;
}

.text-brand-copy-1 {
  color: var(--brand-copy-1) !important;
}

.text-brand-copy-2 {
  color: var(--brand-copy-2) !important;
}

.text-brand-copy-3 {
  color: var(--brand-copy-3) !important;
}

.text-info {
  color: var(--brand-info) !important;
}

.text-success {
  color: var(--brand-success) !important;
}

.text-warning {
  color: var(--brand-warning) !important;;
}

.text-danger {
  color: var(--brand-danger) !important;
}

/* BS overrides */

.border {
  border-color: var(--brand-secondary-2) !important;
}

.border-light {
  border-color: var(--brand-secondary-3) !important;
}

/* Default body text color */
/* NOTE: @deprecated
.text-gray {
  color: var(--brand-gray) !important;
}
.border-gray {
  border-color: var(--brand-gray) !important;
}
*/

.text-white,
.hover-white:hover,
.hover-white:focus {
  color: var(--brand-white) !important;
}

.bg-white,
.hover-bg-white:hover,
.hover-bg-white:focus {
  background-color: var(--brand-white);
}

.desaturate {
  filter: grayscale(100%);
}

.saturate {
  filter: grayscale(0%);
}
