.brand-primary-1 {
  color: var(--brand-primary-1);
}

.brand-primary-2 {
  color: var(--brand-primary-2);
}

.brand-primary-3 {
  color: var(--brand-primary-3);
}

.brand-secondary-1 {
  color: var(--brand-secondary-1);
}

.brand-secondary-2 {
  color: var(--brand-secondary-2);
}

.brand-secondary-3 {
  color: var(--brand-secondary-3);
}

.brand-secondary-4 {
  color: var(--brand-secondary-4);
}

.brand-tertiary-1 {
  color: var(--brand-tertiary-1);
}

.brand-tertiary-2 {
  color: var(--brand-tertiary-2);
}

.brand-tertiary-3 {
  color: var(--brand-tertiary-3);
}

.bg-brand-primary-1,
.hover-bg-brand-primary-1:hover,
.hover-bg-brand-primary-1:focus {
  background-color: var(--brand-primary-1) !important;
}

.bg-brand-primary-2,
.hover-bg-brand-primary-2:hover,
.hover-bg-brand-primary-2:focus {
  background-color: var(--brand-primary-2) !important;
}

.bg-brand-primary-3,
.hover-bg-brand-primary-3:hover,
.hover-bg-brand-primary-3:focus {
  background-color: var(--brand-primary-3) !important;
}

.bg-brand-secondary-1,
.hover-bg-brand-secondary-1:hover,
.hover-bg-brand-secondary-1:focus {
  background-color: var(--brand-secondary-1) !important;
}

.bg-brand-secondary-2,
.hover-bg-brand-secondary-2:hover,
.hover-bg-brand-secondary-2:focus {
  background-color: var(--brand-secondary-2) !important;
}

.bg-brand-secondary-3,
.hover-bg-brand-secondary-3:hover,
.hover-bg-brand-secondary-3:focus {
  background-color: var(--brand-secondary-3) !important;
}

.bg-brand-secondary-4,
.hover-bg-brand-secondary-4:hover,
.hover-bg-brand-secondary-4:focus {
  background-color: var(--brand-secondary-4) !important;
}

.bg-brand-tertiary-1,
.hover-bg-brand-tertiary-1:hover,
.hover-bg-brand-tertiary-1:focus {
  background-color: var(--brand-tertiary-1) !important;
}

.bg-brand-tertiary-2,
.hover-bg-brand-tertiary-2:hover,
.hover-bg-brand-tertiary-2:focus {
  background-color: var(--brand-tertiary-2) !important;
}

.bg-brand-tertiary-3,
.hover-bg-brand-tertiary-3:hover,
.hover-bg-brand-tertiary-3:focus {
  background-color: var(--brand-tertiary-3) !important;
}

.bg-gradient-top {
  background: rgb(229,239,249);
  background: linear-gradient(180deg, rgba(229,239,249,1) 0%, rgba(245,250,255,1) 10%, rgba(245,250,255,1) 95%, rgba(239,246,253,1) 100%);
}

.border-brand-primary-1,
.hover-border-brand-primary-1:hover,
.hover-border-brand-primary-1:focus {
  border-color: var(--brand-primary-1) !important;
}

.border-brand-primary-2,
.hover-border-brand-primary-2:hover,
.hover-border-brand-primary-2:focus {
  border-color: var(--brand-primary-2) !important;
}

.border-brand-primary-3,
.hover-border-brand-primary-3:hover,
.hover-border-brand-primary-3:focus {
  border-color: var(--brand-primary-3) !important;
}

.border-brand-secondary-1,
.hover-border-brand-secondary-1:hover,
.hover-border-brand-secondary-1:focus {
  border-color: var(--brand-secondary-1) !important;
}

.border-brand-secondary-2,
.hover-border-brand-secondary-2:hover,
.hover-border-brand-secondary-2:focus {
  border-color: var(--brand-secondary-2) !important;
}

.border-brand-secondary-3,
.hover-border-brand-secondary-3:hover,
.hover-border-brand-secondary-3:focus {
  border-color: var(--brand-secondary-3) !important;
}

.border-brand-secondary-4,
.hover-border-brand-secondary-4:hover,
.hover-border-brand-secondary-4:focus {
  border-color: var(--brand-secondary-4) !important;
}

.border-brand-tertiary-1,
.hover-border-brand-tertiary-1:hover,
.hover-border-brand-tertiary-1:focus {
  border-color: var(--brand-tertiary-1) !important;
}

.border-brand-tertiary-2,
.hover-border-brand-tertiary-2:hover,
.hover-border-brand-tertiary-2:focus {
  border-color: var(--brand-tertiary-2) !important;
}

.border-brand-tertiary-3,
.hover-border-brand-tertiary-3:hover,
.hover-border-brand-tertiary-3:focus {
  border-color: var(--brand-tertiary-3) !important;
}

.border-info {
  border-color: var(--brand-info-1) !important;
}

.border-success {
  border-color: var(--brand-success-1) !important;
}

.border-warning {
  border-color: var(--brand-warning-1) !important;
}

.border-danger {
  border-color: var(--brand-danger-1) !important;
}

.border-transparent {
  border-color: transparent !important;
}

.text-brand-copy-1 {
  color: var(--brand-copy-1) !important;
}

.text-brand-copy-2 {
  color: var(--brand-copy-2) !important;
}

.text-brand-copy-3 {
  color: var(--brand-copy-3) !important;
}

.text-info {
  color: var(--brand-info-1) !important;
}

.text-success {
  color: var(--brand-success-1) !important;
}

.text-warning {
  color: var(--brand-warning-1) !important;;
}

.text-danger {
  color: var(--brand-danger-1) !important;
}

.text-black {
  color: var(--brand-black) !important;
}

/* BS overrides */

/* alias for .border-brand-secondary-2 */
.border,
.border-top,
.border-right,
.border-bottom,
.border-left {
  border-color: var(--brand-secondary-2) !important;
}

/* alias for .border-brand-secondary-3 */
.border-light {
  border-color: var(--brand-secondary-3) !important;
}

.border-dark {
  border-color: var(--brand-black) !important;
}

.text-white,
.hover-white:hover,
.hover-white:focus {
  color: var(--brand-white) !important;
}

.bg-white,
.hover-bg-white:hover,
.hover-bg-white:focus {
  background-color: var(--brand-white);
}

.desaturate {
  filter: grayscale(100%);
}

.saturate {
  filter: grayscale(0%);
}
