.dataholder-pill .dataholder-details,
.dataholder-select-wrapper .dataholder-details {
  max-width: calc(100% - 2rem);
}

.dataholder-select-wrapper .dataholder-details {
  max-width: calc(100% - 2.5rem);
}

@media (min-width: 768px) {
  .dataholder-pill .dataholder-details {
    max-width: none;
  }
}

.dataholder-logo {
  padding: 2px;
}

.dataholder-logo > canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(50);
}

.dataholder-pill .dataholder-name {
  max-width: 2.4rem;
}

.editing-pills .dataholder-pill .dataholder-name {
  max-width: 100%;
}

@media (min-width: 768px) {
  .dataholder-pill .dataholder-name {
    max-width: 100%;
  }
}

@media (max-width: 769px) {
  .component-card-cdr .icon-rab-logo-cdr {
    width: 90px;
  }
}
