img {
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Bootstrap overrides and extensions */
.media-left {
  padding-right: 12px;
}

/* Helps with vertical alignment of icons */
.media-left .icon-small {
  margin-top: 1px;
}

.media-right {
  padding-left: 12px;
}

.rounded {
  border-radius: var(--rounded) !important;
}

.rounded-sm {
  border-radius: var(--rounded-sm) !important;
}

.rounded-lg {
  border-radius: var(--rounded-lg) !important;
}

.rounded-top {
  border-radius: var(--rounded) var(--rounded) 0 0 !important;
}

.rounded-bottom {
  border-radius: 0 0 var(--rounded) var(--rounded) !important;
}

/* New Utilities */
[class*="border-brand-"],
.border-white,
.border-info,
.border-success,
.border-warning,
.border-danger {
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
}

.border-thick {
  border-width: 2px;
}

.border-heavy {
  border-width: 4px;
}

@media (--breakpoint-sm) {
  .sm-border {
    border-width: 1px;
    border-style: solid;
    border-color: var(--brand-secondary-2);
  }
}

.content-box {
  box-sizing: content-box;
}

.mh-0 {
  min-height: 0 !important;
}

.mw-0 {
  min-width: 0 !important;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.pointer-none {
  pointer-events: none;
}

.flex-none {
  flex: none;
}

.conceal {
  position: relative;
}

.conceal:before {
  content: '';
  position: absolute;
  background: #fff;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  opacity: 0.5;
  z-index: 1;
}

.overflow-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shadow-1,
.hover-shadow-1:hover {
  box-shadow: var(--shadow-1);
}

.shadow-2,
.hover-shadow-2:hover {
  box-shadow: var(--shadow-2) !important;
}

@media (--breakpoint-sm) {
  .shadow-sm-1 {
    box-shadow: var(--shadow-1);
  }
  .shadow-sm-2 {
    box-shadow: var(--shadow-2) !important;
  }
}

.center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* columns */
.columns-2 {
  column-count: 2;
}

@media (--breakpoint-sm) {
  .columns-sm-2 {
    column-count: 2;
  }
}

/* accordion */
.compress {
  visibility: hidden;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  max-height: 0;
}

.compress.release {
  visibility: visible;
  max-height: 50rem;
}

