img {
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  max-width: 100%;
  height: auto;
}

label {
  margin-top: 0 !important;
  margin-bottom: 0.5rem;
  color: var(--brand-primary-1);
  font-family: Arial, sans-serif;
}

label p {
  color: #666;
}

input[type=text] {
  height: 3rem;
  font-family: Arial, sans-serif;
  margin-bottom: 0;
  color: #666;
}

.form-control:focus {
  border-color: var(--brand-primary-1);
}

button {
  -webkit-appearance: none;
}

.btn-pill {
  min-width: 0 !important;
  min-height: 2.6rem !important;
  background-color: var(--brand-primary-3) !important;
  color: var(--brand-white) !important;
}
