/* TODO: Move to RABSkin */
h3,
.h3 {
  font-size: 24px !important;
}
h4,
.h4 {
  font-size: 20px !important;
}

/* TODO: Move to community.css? Replace these lines: */
/* .cloudcase-skin .h1,
.cloudcase-skin #cloudcase-form .h1,
.cloudcase-skin .h2,
.cloudcase-skin #cloudcase-form .h2,
.cloudcase-skin .h3,
.cloudcase-skin #cloudcase-form .h3,
.cloudcase-skin .h4,
.cloudcase-skin #cloudcase-form .h4,
.cloudcase-skin .h5,
.cloudcase-skin #cloudcase-form .h5,
.cloudcase-skin .h6,
.cloudcase-skin #cloudcase-form .h6 { */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: unset;
  margin-top: unset;
  margin-bottom: unset;
}

p,
ul,
ol {
  font-family: var(--font-arial);
  margin-bottom: var(--space-3);
  letter-spacing: 0.016em;
  line-height: 1.4;
}

ul,
ol {
  padding-left: var(--space-3);
}

ul li,
ol li {
  margin-bottom: var(--space-3);
}

a {
  border-bottom: 1px;
  border-bottom-style: solid;
  text-decoration: none;
  line-height: inherit;
}

a:hover {
  text-decoration: none;
  border-bottom-color: transparent;
}

hr {
  border-color: var(--brand-primary-1) !important;
  margin-top: var(--space-5);
  margin-bottom: var(--space-5);
}

/* Utilities */

/* The follow sizing utilities are already defined in RABSkin: */
/* .h1, .h2, .h3. .h4, .h5, .h6 */
/* Additional sizes and responsive utilities */
.h7 {
  font-size: 14px !important;
}

.h8 {
  font-size: 12px !important;
}

.h9 {
  font-size: 10px !important;
}

@media (--breakpoint-sm) {
  .text-sm-h5 {
    font-size: 18px !important;
  }

  .text-sm-h6 {
    font-size: 16px !important;
  }

  .text-sm-h7 {
    font-size: 14px !important;
  }

  .text-sm-h8 {
    font-size: 12px !important;
  }

  .text-sm-h9 {
    font-size: 10px !important;
  }
}

.font-brand,
label.font-brand,
input.font-brand {
  font-family: var(--font-karbon);
}

.font-brand-bold,
label.font-brand-bold,
input.font-brand-bold {
  font-family: var(--font-karbon);
  font-weight: 800;
}

.font-body {
  font-family: var(--font-arial);
}

.font-weight-normal {
  font-weight: 600 !important;
}

.line-height-1 {
  line-height: 0.3125 !important;
}

.line-height-2 {
  line-height: 0.625 !important;
}

.line-height-3 {
  line-height: 1.25 !important;
}

.line-height-4 {
  line-height: 1.875 !important;
}

.line-height-5 {
  line-height: 3.75 !important;
}

.text-decoration-underline {
  text-decoration: underline;
}

