/* TODO: Move to community.css? Would apply globally to all rulebooks */
h4,
.h4 {
  font-size: 20px !important;
}

/* TODO: Move to community.css? Replace these lines: */
/* .cloudcase-skin .h1,
.cloudcase-skin #cloudcase-form .h1,
.cloudcase-skin .h2,
.cloudcase-skin #cloudcase-form .h2,
.cloudcase-skin .h3,
.cloudcase-skin #cloudcase-form .h3,
.cloudcase-skin .h4,
.cloudcase-skin #cloudcase-form .h4,
.cloudcase-skin .h5,
.cloudcase-skin #cloudcase-form .h5,
.cloudcase-skin .h6,
.cloudcase-skin #cloudcase-form .h6 { */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: unset;
  margin-top: unset;
  margin-bottom: unset;
}

p,
ul,
ol {
  font-family: "Arial", "Helvetica", sans-serif;
  margin-bottom: 16px;
  letter-spacing: 0.016em;
  line-height: 1.4;
  /* TODO: Move to community.css? Would inherit from here: */
  /* .cloudcase-skin .questionText, .cloudcase-skin label .answerText */
  color: var(--brand-copy-3);
}

ul,
ol {
  padding-left: 16px;
}

ul li,
ol li {
  margin-bottom: 16px;
}

a {
  border-bottom: 1px;
  border-bottom-style: solid;
  text-decoration: none;
  line-height: inherit;
}

a:hover {
  text-decoration: none;
  border-bottom-color: transparent;
}

hr {
  border-color: var(--brand-primary-1) !important;
  margin-top: 32px;
  margin-bottom: 32px;
}

/* Utilities */

/* The follow sizing utilities are already defined in RABSkin: */
/* .h1, .h2, .h3. .h4, .h5, .h6 */
/* Additional sizes and responsive utilities */
.h7 {
  font-size: 12px !important;
}

.h8 {
  font-size: 10px !important;
}

@media (min-width: 768px) {
  .text-sm-h5 {
    font-size: 18px !important;
  }

  .text-sm-h6 {
    font-size: 14px !important;
  }

  .text-sm-h7 {
    font-size: 12px !important;
  }

  .text-sm-h8 {
    font-size: 10px !important;
  }
}

.font-brand,
label.font-brand,
input.font-brand {
  font-family: "Karbon";
}

.font-brand-bold,
label.font-brand-bold,
input.font-brand-bold {
  font-family: "Karbon";
  font-weight: 800;
}

.font-body {
  font-family: "Arial", "Helvetica", sans-serif !important;
}

.line-height-1 {
  line-height: 0.25 !important;
}

.line-height-2 {
  line-height: 0.5 !important;
}

.line-height-3 {
  line-height: 1 !important;
}

.line-height-4 {
  line-height: 1.5 !important;
}

.line-height-5 {
  line-height: 3 !important;
}

.text-decoration-underline {
  text-decoration: underline;
}

/* TODO: Move to RABSkin to remove prefix and allow this to be used outside of widgets */
.text-feature {
  font-family: "Karbon";
  padding-left: var(--space-3);
  padding-right: var(--space-3);
  color: #00424d;
  font-size: 20px;
  line-height: 1.25;
  border-left: 3px solid var(--brand-primary-2);
  margin-bottom: var(--space-5);
}
