/* TODO: Move to community CSS and consolidate */

/* Global overrides */
.cloudcase-skin h4,
.cloudcase-skin #cloudcase-form h4,
.cloudcase-skin .h4,
.cloudcase-skin #cloudcase-form .h4 {
  font-size: 20px;
}
.cloudcase-skin #cloudcase-form .btn-pill:not(.dropdown-toggle),
.cloudcase-skin #cloudcase-form .multiAnswerGroup .btn-pill,
.cloudcase-skin .ui-dialog .btn-pill,
.cloudcase-skin .ui-dialog .ui-dialog-buttonpane .btn-pill {
  min-width: 0 !important;
  min-height: 0 !important;
}

/* Utility overrides and extensions */
.bg-gray {
  background-color: #F5F7F9;
}
.text-dark {
  color: #151515 !important;
}
.border {
  border-color: #bdbdbd !important;
}
.border-light {
  border-color: #e5e5e5 !important;
}
.border-heavy {
  border-width: 4px !important;
  border-style: solid;
  border-color: inherit;
}
.rounded {
  border-radius: 9px !important;
}
.rounded-lg {
  border-radius: 12px !important;
}

/* New utilities */
.flex-none {
  flex: none;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.conceal {
  position: relative;
}
.conceal:before {
  content: '';
  position: absolute;
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  z-index: 1;
}
.overflow-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.shadow-subtle {
  -webkit-box-shadow:  0px 6px 20px rgba(158, 158, 158, 0.08);
  -moz-box-shadow:  0px 6px 20px rgba(158, 158, 158, 0.08);
  box-shadow:  0px 6px 20px rgba(158, 158, 158, 0.08);
}
.text-tiny {
  font-size: 12px;
}
.text-small {
  font-size: 14px;
}
.text-large {
  font-size: 18px;
}
