/* TODO: Move to community CSS and consolidate */

/* New utilities */
.rab-svg-icon {
  width: 24px;
  height: 24px;
}
.rab-svg-icon-lg {
  width: 37px;
  height: 37px;
}
.rab-svg-logo-cdr {
  width: 118px;
  height: 44px;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.conceal {
  position: relative;
}
.conceal:before {
  content: '';
  position: absolute;
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  z-index: 1;
}
.overflow-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.shadow-subtle {
  -webkit-box-shadow:  0px 6px 20px rgba(158, 158, 158, 0.08);
  -moz-box-shadow:  0px 6px 20px rgba(158, 158, 158, 0.08);
  box-shadow:  0px 6px 20px rgba(158, 158, 158, 0.08);
}

/* Utility overrides and extensions */
.bg-gray {
  background-color: #F5F7F9;
}
.border {
  border-color: #CBD6E1;
}
.border-heavy {
  border-width: 4px !important;
  border-color: #A5D867 !important;
}
.rounded {
  border-radius: 12px !important;
}