.bg-gray {
  background-color: #F5F7F9;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.rab-svg-icon {
  width: 24px;
  height: 24px;
}

.conceal {
  position: relative;
}
.conceal:before {
  content: '';
  position: absolute;
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  z-index: 1;
}
.overflow-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
