:root {
  /* Colors */
  --brand-primary-1: #00424d;
  --brand-primary-2: #a5d867;
  --brand-primary-3: #015060;
  --brand-secondary-1: #f5faff;
  --brand-secondary-2: #bdbdbd;
  --brand-secondary-3: #eee;
  --brand-secondary-4: #fafafa;

  --brand-copy-1: #212121;
  --brand-copy-2: #414141;
  --brand-copy-3: #616161;

  /* NOTE: Not finalised in Figma */
  --brand-info: #82d5ff;
  --brand-success: #2bce95;
  --brand-warning: #f6a78c;
  --brand-danger: #e84a5e;

  /* NOTE: deprecated */
  /*--brand-gray: #666;*/
  --brand-black: #000;
  --brand-white: #fff;

  /* Spacing */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 3rem;

  /* Layout */
  --rounded: 9px;
  --rounded-lg: 12px;

  --shadow-1: 0px 6px 20px rgba(158, 158, 158, 0.08);
  --shadow-2: 0px 2px 4px rgba(117, 117, 117, 0.1), 0px 4px 5px rgba(117, 117, 117, 0.08), 0px 1px 10px rgba(117, 117, 117, 0.12);
}
