.dataholder-selected-heading {
  font-family: Karbon;
  font-style: normal;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 800;
  color: #00424D;
  line-height: 20px !important;
  padding-bottom: 8px !important;
}
.dataholder-selected-wrapper {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  overflow-x: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-right: -1.5rem;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 768px) {
  .dataholder-selected-wrapper {
    display: flex;
    flex-direction: row;
    overflow-y: none;
    overflow-x: none;
    margin-right: -0;
    flex-wrap: wrap;
  }
}
.dataholder-selected-wrapper::-webkit-scrollbar {
  display: none;
}
.dataholder-pill {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 9px;
  background: #FFFFFF;
  border: 1px solid #00424D;
  box-sizing: border-box;
  border-radius: 25px;
  margin-right: 10px;
  flex-shrink: 0;
  margin-bottom: 10px;
}
.dataholder-pill-details-wrapper {
  display: flex;
  align-items: center;
}
.dataholder-pill-image-wrapper {
  width: 32px;
  height: 32px;
  border: 3px solid #d2d2d2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.dataholder-pill-image-wrapper > div {
  min-width: 0;
  overflow: hidden;
}
.dataholder-pill-image-wrapper > div > img {
  max-width: 100%;
  height: auto;
}
.dataholder-pill-name {
  font-size: 10px;
  line-height: 20px !important;
  margin-bottom: 0 !important;
  padding: 0 12px;
}
.dataholder-pill-deselect {
  width: 24px;
  height: 24px;
  background: #015060;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
