.bank-search {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #005564;
  box-shadow: 0px 2px 8px rgb(79 119 169 / 8%);
  border-radius: 9px;
  display: flex;
  align-items: center;
  padding: 16px 13px;
}
.bank-search-icon-wrapper {
  width: 20px;
  height: 20px;
  flex-basis: 20px;
}
.bank-search-input {
  border: none;
  border-radius: 9px;
  display: flex;
  font-family: Karbon;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px !important;
  flex: 1 auto;
  height: 1rem !important;
  padding-left: 8px;
}
.bank-search-input:focus {
  outline: none;
}
