/*! Default size for all icons */
[class*="icon-rab-"] {
  width: 18px;
  height: 18px;
}

[class*="icon-rab-"]:before {
  content: "";
  vertical-align: top;
  speak: none;
  display: inline-block;
  width: inherit;
  height: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

/*! Alert and bullet icon layout */
[class*="alert-"],
ol[class*="bullet-"] li,
ul[class*="bullet-"] li,
p[class*="bullet-"],
div[class*="bullet-"] {
  display: table;
}

ol[class*="bullet-"],
ul[class*="bullet-"] {
  padding-left: 0 !important;
}

[class*="alert-"] {
  width: 100%;
  margin-top: var(--space-3);
  margin-bottom: var(--space-3);
  padding: var(--space-3);
  border: none;
  border-radius: var(--rounded-lg);
  font-size: 13px;
}

[class*="alert-"]:before,
ol[class*="bullet-"] li:before,
ul[class*="bullet-"] li:before,
p[class*="bullet-"]:before,
div[class*="bullet-"]:before {
  content: "";
  display: table-cell;
  height: 18px;
  /* NOTE: using 'em' unit here to ensure space between bullet and text is proportionate to font size */
  width: 2em;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  speak: none;
}

[class*="alert-"]:before {
  /* NOTE: using 'rem' unit here to ensure space is fixed, regardless of font size */
  width: 2rem;
}

/*! SVG icons */
.icon-rab-check-green:before,
ul.bullet-check-green li:before,
p.bullet-check-green:before,
div.bullet-check-green:before {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><circle cx="12" cy="12" r="12" fill="%23015060"/><path d="M9.1 12c-.3-.3-.7-.3-1 0-.3.3-.2.8 0 1l2.7 2.7c.3.3.8.3 1-.1l4.7-6.5c.2-.3.2-.8-.1-1-.3-.2-.7-.2-.9.1l-4.3 5.9L9.1 12z" fill="%23fff"/></svg>');
}

.icon-rab-check-green-glow:before,
ul.bullet-check-green-glow li:before,
p.bullet-check-green-glow:before,
div.bullet-check-green-glow:before {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><circle cx="12" cy="12" r="12" fill="%23015060"/><path d="M9.1 12c-.3-.3-.7-.3-1 0-.3.3-.2.8 0 1l2.7 2.7c.3.3.8.3 1-.1l4.7-6.5c.2-.3.2-.8-.1-1-.3-.2-.7-.2-.9.1l-4.3 5.9L9.1 12z" fill="%23a5d867"/></svg>');
}

.icon-rab-check-lime:before,
ul.bullet-check-lime li:before,
p.bullet-check-lime:before,
div.bullet-check-lime:before {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><circle cx="12" cy="12" r="12" fill="%23a5d867"/><path d="M9.1 12c-.3-.3-.7-.3-1 0-.3.3-.2.8 0 1l2.7 2.7c.3.3.8.3 1-.1l4.7-6.5c.2-.3.2-.8-.1-1-.3-.2-.7-.2-.9.1l-4.3 5.9L9.1 12z" fill="%23fff"/></svg>');
}

.icon-rab-check-invert:before,
ul.bullet-check-invert li:before,
p.bullet-check-invert:before,
div.bullet-check-invert:before {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path fill="%23015060" d="M9 17.5C4.3 17.5.5 13.7.5 9S4.3.5 9 .5s8.5 3.8 8.5 8.5-3.8 8.5-8.5 8.5zm0-16C4.9 1.5 1.5 4.9 1.5 9s3.4 7.5 7.5 7.5 7.5-3.4 7.5-7.5S13.1 1.5 9 1.5zM6.6 9c-.3-.2-.6-.2-.8 0-.2.2-.2.6 0 .8l2.2 2c.2.2.6.2.8-.1l3.9-4.8c.2-.2.1-.6-.1-.8-.3-.1-.6-.1-.8.2l-3.5 4.4L6.6 9z"/></svg>');
}

.icon-rab-attention:before {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><circle cx="12" cy="12" r="12" fill="%23e84a5e"/><path fill="%23fff" d="M12 18.6c.7 0 1.3-.6 1.3-1.3S12.7 16 12 16s-1.3.6-1.3 1.3.6 1.3 1.3 1.3zm0-13.2c.2 0 .3.1.5.2.1.1.2.3.2.5V14c0 .2-.1.3-.2.5-.1.1-.3.2-.5.2s-.3-.1-.5-.2c-.1-.1-.2-.3-.2-.5V6.1c0-.2.1-.3.2-.5.2-.1.3-.2.5-.2z"/></svg>');
}

.icon-rab-chevron-down:before {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="%2300424d" d="M19.9093 7.9559l-.8884-.8673A.3137.3137 0 0018.8019 7h-.0021a.313.313 0 00-.2199.0915L12 13.6984 5.4201 7.0917A.3132.3132 0 005.2002 7h-.002a.3137.3137 0 00-.219.0886l-.8884.8673a.2972.2972 0 00-.0028.425l7.6903 7.6974a.3135.3135 0 00.2217.0913.3135.3135 0 00.2217-.0913l7.6903-7.6976a.2973.2973 0 00-.0027-.425z"/></svg>');
}

.icon-rab-chevron-down-lime:before {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="%23a5d867" d="M19.9093 7.9559l-.8884-.8673A.3137.3137 0 0018.8019 7h-.0021a.313.313 0 00-.2199.0915L12 13.6984 5.4201 7.0917A.3132.3132 0 005.2002 7h-.002a.3137.3137 0 00-.219.0886l-.8884.8673a.2972.2972 0 00-.0028.425l7.6903 7.6974a.3135.3135 0 00.2217.0913.3135.3135 0 00.2217-.0913l7.6903-7.6976a.2973.2973 0 00-.0027-.425z"/></svg>');
}

.icon-rab-chevron-up:before {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="%2300424d" d="M3.0978 15.9231l.965.9421a.3408.3408 0 00.238.0963h.0023a.3403.3403 0 00.2389-.0995l7.148-7.1774 7.1481 7.1773a.3401.3401 0 00.2389.0994h.0023a.3407.3407 0 00.2379-.0962l.9651-.9422a.3228.3228 0 00.0029-.4616l-8.3543-8.3622A.3407.3407 0 0011.69 7a.3403.3403 0 00-.2408.0991l-8.3544 8.3623a.323.323 0 00.003.4617z"/></svg>');
}

.icon-rab-chevron-up-lime:before {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="%23a5d867" d="M3.0978 15.9231l.965.9421a.3408.3408 0 00.238.0963h.0023a.3403.3403 0 00.2389-.0995l7.148-7.1774 7.1481 7.1773a.3401.3401 0 00.2389.0994h.0023a.3407.3407 0 00.2379-.0962l.9651-.9422a.3228.3228 0 00.0029-.4616l-8.3543-8.3622A.3407.3407 0 0011.69 7a.3403.3403 0 00-.2408.0991l-8.3544 8.3623a.323.323 0 00.003.4617z"/></svg>');
}

.icon-rab-arrow-right-green:before {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path fill="%2300424d" d="M14.4 9l-4.9 4.8c-.1.2-.2.2-.4.2s-.3 0-.3-.2c-.2-.2-.2-.5 0-.7l3.6-3.7H4.1c-.2.1-.5-.1-.5-.4s.2-.5.5-.5h8.3L8.8 4.8c-.2-.2-.2-.5 0-.7.2-.1.5-.1.7.1L14.4 9z"/></svg>');
}

.icon-rab-arrow-right-green-2:before {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path fill="%2300424d" d="M16 9c0-.2-.1-.3-.1-.4l-5-5.4c-.2-.2-.6-.2-.8 0-.3.2-.3.5-.1.8l4.1 4.5H2.5c-.2-.1-.5.2-.5.5s.3.6.6.6h11.6L10 14c-.2.2-.2.6 0 .8.2.2.6.2.8 0l5-5.4c.2-.1.2-.3.2-.4z"/></svg>');
}

.icon-rab-arrow-right-white:before {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path fill="%23fff" d="M14.4 9l-4.9 4.8c-.1.2-.2.2-.4.2s-.3 0-.3-.2c-.2-.2-.2-.5 0-.7l3.6-3.7H4.1c-.2.1-.5-.1-.5-.4s.2-.5.5-.5h8.3L8.8 4.8c-.2-.2-.2-.5 0-.7.2-.1.5-.1.7.1L14.4 9z"/></svg>');
}

.icon-rab-plus-green:before {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18"><path fill="%23015060" fill-rule="evenodd" d="M18 9c0 4.9706-4.0294 9-9 9s-9-4.0294-9-9 4.0294-9 9-9 9 4.0294 9 9zm-5.3682.5698a.569.569 0 000-1.138h-3.062v-3.062a.569.569 0 10-1.138 0v3.062h-3.062a.569.569 0 100 1.138h3.062v3.062a.569.569 0 001.138 0v-3.062h3.062z" clip-rule="evenodd"/></svg>');
}

.icon-rab-plus-invert:before {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18"><path fill="%23015060" fill-rule="evenodd" d="M9 17c4.4183 0 8-3.5817 8-8s-3.5817-8-8-8-8 3.5817-8 8 3.5817 8 8 8zm0 1c4.9706 0 9-4.0294 9-9s-4.0294-9-9-9-9 4.0294-9 9 4.0294 9 9 9z" clip-rule="evenodd"/><path fill="%23015060" fill-rule="evenodd" d="M13.2008 9.0008a.569.569 0 01-.569.569h-3.062v3.062a.569.569 0 01-1.138 0v-3.062h-3.062a.569.569 0 110-1.138h3.062v-3.062a.569.569 0 111.138 0v3.062h3.062a.569.569 0 01.569.569z" clip-rule="evenodd"/></svg>');
}

.icon-rab-minus-green:before {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18"><path fill="%23015060" fill-rule="evenodd" d="M18 9c0 4.9706-4.0294 9-9 9s-9-4.0294-9-9 4.0294-9 9-9 9 4.0294 9 9zm-5.3682.5696a.569.569 0 000-1.138H5.3698a.569.569 0 100 1.138H12.6318z" clip-rule="evenodd"/></svg>');
}

.icon-rab-minus-invert:before {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18"><path fill="%23015060" fill-rule="evenodd" d="M9 17c4.4183 0 8-3.5817 8-8s-3.5817-8-8-8-8 3.5817-8 8 3.5817 8 8 8zm0 1c4.9706 0 9-4.0294 9-9s-4.0294-9-9-9-9 4.0294-9 9 4.0294 9 9 9z" clip-rule="evenodd"/><path fill="%23015060" d="M13.2008 9.0006a.569.569 0 01-.569.569H5.3698a.569.569 0 110-1.138H12.6318a.569.569 0 01.569.569z"/></svg>');
}
