/*! Modals */
.ui-dialog.ui-widget.ui-widget-content {
  border-radius: var(--rounded-lg);
}

.ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar {
  border-top-left-radius: var(--rounded-lg);
  border-top-right-radius: var(--rounded-lg);
}

.ui-dialog.ui-widget.ui-widget-content .btn-modal {
  border: 1px solid #000;
  border-radius: var(--rounded-lg);
  color: #000;
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
  font-weight: 700;
  min-height: auto;
}
