@font-face {
  font-family: "Karbon";
  src: url("../fonts/community/Karbon-Regular.woff2") format("woff2"),
  url("../fonts/community/Karbon-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Karbon";
  src: url("../fonts/community/Karbon-Medium.woff2") format("woff2"),
  url("../fonts/community/Karbon-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Karbon";
  src: url("../fonts/community/Karbon-Semibold.woff2") format("woff2"),
  url("../fonts/community/Karbon-Semibold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/community/icomoon.woff");
}
/* -------------------------------------------------------------------------- */
/* all screen sizes, all media */
/* -------------------------------------------------------------------------- */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
html, body.cloudcase-skin {
  color: #666;
  font-size: 16px;
  font-family: "Arial", "Helvetica", sans-serif;
}
body {
  background-color: #f7f7f7;
}
.cloudcase-skin #logo {
  display: block;
  position: relative;
  border: 0 !important;
  float: left;
  background: url("../images/community/regional_australia_bank-logo.png") repeat-x scroll 0 0 transparent;
  width: 300px;
  height: 48px;
  background-size: 300px 48px;
  margin-left: 0px;
}
.cloudcase-skin .questionText, .cloudcase-skin label .answerText {
  font-size: 16px;
  margin-left: 0px;
  color: #666;
  margin-top: 9px;
}
.cloudcase-skin .panel-default > .panel-heading .panel-title a {
  font-size: 22px;
  color: #fff;
}
.cloudcase-skin .fixedWidthQuestion .questionText {
  text-align: left;
}
.cloudcase-skin #body {
  margin-top: 6px;
}
.cloudcase-skin #header {
  padding-left: 8px;
  padding-right: 8px;
}
.cloudcase-skin #header h1 {
  float: right;
  color: #00424d;
  margin-top: 24px;
  font-size: 35px;
}
.cloudcase-skin .panel-default > .panel-heading.selected {
  background-color: #005867;
  border-left: solid 6px #d2edb2;
}
.cloudcase-skin .panel-default > .panel-heading.selected a {
  color: #fff;
}
.cloudcase-skin #cloudcase-form legend {
  font-family: "Karbon", "Open Sans";
  font-weight: 800;
  font-size: 35px;
  letter-spacing: 0.01em;
  margin: 0;
  margin-top: 10px;
  color: #00424d;
  border: none;
  line-height: 1;
}
.cloudcase-skin #cloudcase-form #cloudcase-page-navigator ul {
  background-color: #fff;
  border: 1px solid #e0e0e0;
}
.cloudcase-skin #cloudcase-form #cloudcase-page-navigator ul li {
  height: 60px;
  border: none;
  margin-top: 0;
  padding-top: 0.1rem;
  padding-bottom: 0;
  -webkit-transition: box-shadow 0.4s;
  -moz-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
  position: relative;
  white-space: nowrap;
}
.cloudcase-skin #cloudcase-form #cloudcase-page-navigator ul li::before {
  content: "";
  display: block;
  border-left: solid 17px transparent;
  position: absolute;
  right: -17px;
  top: 0;
  border-right: none;
  border-top: solid 30px transparent;
  border-bottom: solid 30px transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.cloudcase-skin #cloudcase-form #cloudcase-page-navigator ul li::after {
  content: "";
  display: inline-block;
  width: 0;
  vertical-align: middle;
  height: 60px;
}
.cloudcase-skin #cloudcase-form #cloudcase-page-navigator ul li:not(.selected):hover {
  -webkit-box-shadow: inset 0 0 999px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 999px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 999px rgba(0, 0, 0, 0.1);
}
.cloudcase-skin #cloudcase-form #cloudcase-page-navigator ul li.selected {
  background-color: #006778;
  border: none;
  border-radius: 0px;
}
.cloudcase-skin #cloudcase-form #cloudcase-page-navigator ul li.selected::before {
  border-left-color: #006778;
}
.cloudcase-skin #cloudcase-form #cloudcase-page-navigator ul li a {
  line-height: 1.1;
  letter-spacing: 0.018em;
  white-space: normal;
  font-size: 20px;
  color: #666;
  font-family: "Karbon";
  vertical-align: middle;
  display: inline-block;
  padding-right: 20px;
}
.cloudcase-skin #cloudcase-form #cloudcase-page-navigator ul li.selected a,
.cloudcase-skin #cloudcase-form #cloudcase-page-navigator ul li.selected i {
  color: #ffffff;
  font-weight: normal;
}
.cloudcase-skin .panel-default > .panel-heading.selected i.errorIcon {
  color: #ffe200;
}
.cloudcase-skin .page_navigator_item .errorIcon, .cloudcase-skin .page_navigator_item .warningIcon,
.cloudcase-skin .page_navigator_item .completedIcon {
  line-height: 0;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: 0 !important;
}
.cloudcase-skin .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-color: #e4e4e4;
  padding-top: 3rem;
}
.cloudcase-skin .questionContent .multiAnswerGroup input[type="checkbox"], .cloudcase-skin .questionContent .multiAnswerGroup input[type="radio"] {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  margin-top: 2px;
  margin-right: 4px;
}
.cloudcase-skin .multiAnswerGroup input[type="radio"] + label:before, .cloudcase-skin .multiAnswerGroup input[type="checkbox"] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  font-size: 30px;
  color: #28313a;
  line-height: 10px;
  vertical-align: middle;
  width: 16px;
  margin-left: -36px;
  margin-right: 20px;
}
.cloudcase-skin .multiAnswerGroup input[type="checkbox"], .cloudcase-skin .multiAnswerGroup input[type="radio"] {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  margin-top: 2px;
  margin-right: 4px;
}
.cloudcase-skin #nav {
  display: none;
}
.cloudcase-skin #cloudcase-form .sectionHeader > div {
  margin: 0;
}
.cloudcase-skin .buttonPanel input[type="button"],
.cloudcase-skin .buttonPanel button {
  font-size: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  width: initial;
  width: auto; /* ie */
}
.cloudcase-skin input[type="button"].removeDocumentButton {
  width: 90px;
}
.cloudcase-skin .form-control[disabled] {
  border: none;
  background-color: #ffffff;
  padding-left: 0px;
  -webkit-text-fill-color: #666;
  -webkit-opacity: 1;
  color: #666;
}
.cloudcase-skin .ui-menu .ui-menu-item {
  font-size: 16px;
  height: 40px;
}
.cloudcase-skin .ui-menu .ui-menu-item.ui-state-focus {
  background-color: #006778;
  color: #ffffff;
  border-color: #006778;
}
.cloudcase-skin .form-control:focus {
  border-color: #016e80;
  outline: 0;
}
input[type="button"].uploadDocumentButton {
  width: initial;
  width: auto;
  height: initial;
  height: auto;
  float: none;
}
.cloudcase-skin input[type="file"], .cloudcase-skin input[type="file"]:hover {
  background-color: initial !important;
  background-color: auto !important;
  border: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0px;
  color: inherit;
  border-radius: 0px;
}
.ui-widget {
  font-size: 16px;
  color: #666;
}
.cloudcase-skin .form-control {
  min-width: 4.2rem;
  font-size: 16px;
  height: 40px;
  display: block;
  padding: .5rem .75rem;
  line-height: 1.25;
  color: #666;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px !important;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  padding-top: 10px;
}
.cloudcase-skin textarea.form-control {
  height: auto;
  max-width: 100%;
}
.cloudcase-skin h1 {
  color: #00424d;
}
.cloudcase-skin #header {
  background-color: #ffffff;
  height: 80px;
  margin: 0 auto;
  top: 15px;
  text-align: center;
}
.cloudcase-skin #page {
  background-color: transparent;
}
.cloudcase-skin .panel-default > .panel-heading {
  background-color: #006778;
}
.cloudcase-skin .panel-default > .panel-heading .panel-title {
  color: #464542;
}
.cloudcase-skin #footer {
  float: left;
  color: #343434;
  text-decoration: none;
  font-size: 11px;
  width: 100%;
  background-color: #ffffff;
  padding-top: 30px;
}
.cloudcase-skin .questionText.questionTextFixed {
  text-align: right;
}
.cloudcase-skin .errorText {
  font-size: 16px;
}
.cloudcase-skin .questionAnnotations {
  margin-left: -16px;
}
.cloudcase-skin #cloudcase-form .fullWidthQuestion > .questionAnnotationsAndText {
  width: 100%;
  padding: 0;
}
.cloudcase-skin #cloudcase-form .fixedWidthQuestion > .questionAnnotationsAndText > .questionAnnotations,
.cloudcase-skin #cloudcase-form .fixedWidthQuestion > .questionAnnotationsAndText > .questionAnnotations em {
  margin-top: 5px;
  font-size: 20px;
}
.cloudcase-skin hr {
  width: 100%;
  border-color: #e6e6e6;
  color: #e6e6e6;
}
.cloudcase-skin .input-group .input-group-btn {
  float: none;
}

/* Buttons */
.cloudcase-skin #cloudcase-form button,
.cloudcase-skin .ui-dialog button {
  padding-bottom: 0;
  border: 0;
  background-color: transparent;
}
.cloudcase-skin #cloudcase-form .btn:not(.dropdown-toggle),
.cloudcase-skin #cloudcase-form .multiAnswerGroup .btn,
.cloudcase-skin .ui-dialog .btn,
.cloudcase-skin .ui-dialog .ui-dialog-buttonpane .btn {
  border-radius: 100px;
  font-family: "Karbon";
  font-weight: 600;
  line-height: normal;
  display: inline-block;
  box-sizing: border-box;
  letter-spacing: 0.05em;
  background-image: none;
  color: #00424d;
  text-shadow: none;
  text-decoration: none;
  margin: 0.5rem;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  padding: 1rem 3rem 0.9rem 3rem;
  width: calc(100% - 1rem);
  min-height: 3rem !important;
  font-size: 18px;
}
.cloudcase-skin #cloudcase-form .btn,
.cloudcase-skin #cloudcase-form .multiAnswerGroup .btn,
.cloudcase-skin .ui-dialog .btn,
.cloudcase-skin .ui-dialog .ui-dialog-buttonpane .btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: box-shadow 0.4s;
  -moz-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
}
.cloudcase-skin .ui-dialog .ui-dialog-buttonpane .btn {
  width: auto;
  min-width: calc(50% - 1rem);
}
.cloudcase-skin #cloudcase-form .btn:not([disabled]):hover,
.cloudcase-skin #cloudcase-form .multiAnswerGroup .btn:not([disabled]):hover,
.ui-dialog .btn:not([disabled]):hover,
.ui-dialog .ui-dialog-buttonpane .btn:not([disabled]):hover {
  -webkit-box-shadow: inset 0 0 999px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 0 999px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 999px rgba(255, 255, 255, 0.5);
}
.cloudcase-skin #cloudcase-form .btn-default:not([disabled]):hover,
.cloudcase-skin #cloudcase-form .multiAnswerGroup .btn-default:not([disabled]):hover,
.ui-dialog .btn-default:not([disabled]):hover,
.ui-dialog .ui-dialog-buttonpane .btn-default:not([disabled]):hover {
  -webkit-box-shadow: inset 0 0 999px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 0 999px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 999px rgba(0, 0, 0, 0.05);
}
.cloudcase-skin #cloudcase-form .btn-default:not(.dropdown-toggle),
.cloudcase-skin #cloudcase-form .btn-default:not(.dropdown-toggle):hover,
.cloudcase-skin #cloudcase-form .multiAnswerGroup .btn-default,
.cloudcase-skin #cloudcase-form .multiAnswerGroup .btn-default:hover,
.cloudcase-skin .ui-dialog .btn-default,
.cloudcase-skin .ui-dialog .btn-default:hover,
.cloudcase-skin .ui-dialog .ui-dialog-buttonpane .btn-default,
.cloudcase-skin .ui-dialog .ui-dialog-buttonpane .btn-default:hover {
  background-color: #fff;
  border: 1px solid #016e80;
}
.cloudcase-skin #cloudcase-form .btn-primary:not(.dropdown-toggle),
.cloudcase-skin #cloudcase-form .btn-primary:not(.dropdown-toggle):hover,
.cloudcase-skin #cloudcase-form .multiAnswerGroup .btn-primary,
.cloudcase-skin #cloudcase-form .multiAnswerGroup .btn-primary:hover,
.cloudcase-skin .ui-dialog .btn-primary,
.cloudcase-skin .ui-dialog .btn-primary:hover,
.cloudcase-skin .ui-dialog .ui-dialog-buttonpane .btn-primary,
.cloudcase-skin .ui-dialog .ui-dialog-buttonpane .btn-primary:hover {
  background-color: #a5d867;
  border: 0;
}
.cloudcase-skin #cloudcase-form .btn-info:not(.dropdown-toggle),
.cloudcase-skin #cloudcase-form .btn-info:not(.dropdown-toggle):hover,
.cloudcase-skin #cloudcase-form .multiAnswerGroup .btn-info,
.cloudcase-skin #cloudcase-form .multiAnswerGroup .btn-info:hover,
.cloudcase-skin .ui-dialog .btn-info,
.cloudcase-skin .ui-dialog .btn-info:hover,
.cloudcase-skin .ui-dialog .ui-dialog-buttonpane .btn-info,
.cloudcase-skin .ui-dialog .ui-dialog-buttonpane .btn-info:hover {
  color: #fff;
  background-color: #016e80;
}
.cloudcase-skin #cloudcase-form .btn:before,
.cloudcase-skin #cloudcase-form .btn:after {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  font-family: icomoon;
  line-height: 0;
  vertical-align: middle;
  position: relative;
  top: -0.05rem;
}
.cloudcase-skin #cloudcase-form .btn:before {
  margin-right: 1rem;
  right: 0;
}
.cloudcase-skin #cloudcase-form .btn:after {
  margin-left: 1rem;
  left: 0;
}
.cloudcase-skin #cloudcase-form .btn.save::after {
  content: "\ec78";
  font-size: 19px;
  top: -0.1rem;
}
.cloudcase-skin #cloudcase-form .btn.previous::before {
  content: "\ea40";
}
.cloudcase-skin #cloudcase-form .btn.previous:hover::before {
  right: 10px;
}
.cloudcase-skin #cloudcase-form .btn.next::after {
  content: "\ea3c";
}
.cloudcase-skin #cloudcase-form .btn.next:hover::after {
  bottom: 0;
  left: 10px;
}
.cloudcase-skin #cloudcase-form .btn.btn-sm:not(.dropdown-toggle),
.cloudcase-skin #cloudcase-form .multiAnswerGroup .btn.btn-sm {
  width: auto;
  min-width: calc(50% - 1rem);
  padding: 0.6rem 2rem !important;
  min-height: auto !important;
  font-size: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.cloudcase-skin #cloudcase-form #cloudcase-page-navigator {
  margin-top: 30px;
}
.cloudcase-skin .sections-container .page-tips .mandatory-question-tip {
  display: none;
}
.cloudcase-skin .result_text {
  font-weight: 600;
  margin-top: 4px;
  font-size: 16px;
}
.cloudcase-skin #page_content_container {
  margin-top: 30px;
}
.cloudcase-skin .questionOutcomeContainer {
  padding-top: 10px;
}
.cloudcase-skin .multiAnswerGroup > div > .answerText {
  font-size: 16px;
  margin-left: 34px;
  margin-right: 0px;
}
.cloudcase-skin #cloudcase-form .answerText table td {
  padding-right: 10px;
}
.multiAnswerGroup {
  margin-left: -18px;
}
.cloudcase-skin .page_navigator_item .errorIcon, .cloudcase-skin .panel-heading .errorIcon {
  color: #db0011;
}
.cloudcase-skin .input-group .input-group-btn button {
  height: 40px;
  margin-top: 0px;
}
.cloudcase-skin .hiddenQuestionTextPanel > .questionContainer > .questionOutcomeContainer {
  margin-left: 0px !important;
}
#page-status {
  margin: auto;
}
#page-status #body #content {
  margin-top: 20px;
}
#page-status #logo {
  display: none;
}
#page-status h1 {
  color: #00424d;
}
#page-status .btn-primary {
  background-color: #393536;
  border-color: #393536;
  color: #fff;
}
#page-status .btn-primary:hover {
  background-color: #231f20;
}

/* style the placeholder text */
.form-control::-moz-placeholder {
  color: #d8d8d8;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #d8d8d8;
}
.form-control::-webkit-input-placeholder {
  color: #d8d8d8;
}

/* hide the normal radio button */
input[type="radio"], input[type="checkbox"] {
  clip: rect(0 0 0 0);
}
/* don't change to the hand cursor when it moves over the old button area */

input[type="radio"] + label:before {
  content: "\f1db";
}
input[type="radio"]:checked + label:before {
  content: "\f058";
}
input[type="radio"]:hover + label:before {
  font-weight: 600 !important;
  cursor: pointer;
}
/* style the new checkboxes */

input[type="checkbox"] + label:before {
  content: "\f096";
}
input[type="checkbox"]:checked + label:before {
  content: "\f046";
}
input[type="checkbox"]:hover + label:before {
  font-weight: 600 !important;
  cursor: pointer;
}

/* make us look disabled and unclickable when we are disabled */
input[type="radio"]:disabled + label:before,
input[type="checkbox"]:disabled + label:before {
  font-weight: normal;
  color: #cccccc;
  cursor: default;
}

/* make sure our text cannot be highlighted by dragging the mouse or double-clicking on it */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Remove all whitespace (padding & margins) from around promo image */
#fieldset_section_BeforeYouGetStarted_ div {
  padding: 0;
  margin: 0;
}
#fieldset_section_BeforeYouGetStarted_ .questionAnnotations {
  display: none;
}
#fieldset_section_BeforeYouGetStarted_ {
  padding: 0;
}
#fieldset_section_BeforeYouGetStarted_::after,
#fieldset_section_BeforeYouGetStarted_::before {
  display: none;
}
.sectionHeader::before,
.sectionHeader::after,
.cloudcase-skin #cloudcase-form .sectionHeader > .overlay-container > .overlay:after {
  content: "";
  display: block;
  width: 10px;
  height: 0;
  position: absolute;
  left: 50%;
  border-bottom: none;
}
.sectionHeader::before {
  border-top: 21px solid rgba(0, 0, 0, .1);
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  bottom: -21px;
  margin-left: -11px;
}
.sectionHeader::after {
  border-top: 20px solid #fff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  bottom: -20px;
  margin-left: -10px;
}
.cloudcase-skin #cloudcase-form .sectionHeader > .overlay-container > .overlay:after {
  border-top: 21px solid #ebebeb;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  bottom: -21px;
  margin-left: -11px;
  opacity: 0.8;
}
.sections-container div:nth-last-of-type(2)::before {
  left: initial;
  right: 50px;
}
.sections-container div:nth-last-of-type(2)::after,
.cloudcase-skin #cloudcase-form div.sections-container :nth-last-of-type(2) > .overlay-container > .overlay:after {
  left: initial;
  right: 51px;
}
.sections-container + .buttonPanel {
  margin-top: 15px;
}
.questionPanel {
  margin: 0;
}

/* NOTE: [WIP] Theme customisations for RAB CDR that aim to be applied to all CC rule books */
/* Theme customisations */
/* Typography */
.cloudcase-skin h1,
.cloudcase-skin #cloudcase-form h1,
.cloudcase-skin h2,
.cloudcase-skin #cloudcase-form h2,
.cloudcase-skin h3,
.cloudcase-skin #cloudcase-form h3,
.cloudcase-skin h4,
.cloudcase-skin #cloudcase-form h4,
.cloudcase-skin h5,
.cloudcase-skin #cloudcase-form h5,
.cloudcase-skin h6,
.cloudcase-skin #cloudcase-form h6 {
  font-family: "Karbon";
  font-weight: 800;
  margin-top: 0;
  color: #00424d;
  letter-spacing: 0.01em;
}
.cloudcase-skin h1,
.cloudcase-skin #cloudcase-form h1,
.cloudcase-skin h2,
.cloudcase-skin #cloudcase-form h2,
.cloudcase-skin h3,
.cloudcase-skin #cloudcase-form h3 {
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
.cloudcase-skin h4,
.cloudcase-skin #cloudcase-form h4,
.cloudcase-skin h5,
.cloudcase-skin #cloudcase-form h5,
.cloudcase-skin h6,
.cloudcase-skin #cloudcase-form h6 {
  line-height: 1.4;
  margin-bottom: 1rem;
}
.cloudcase-skin .ui-dialog h5,
.cloudcase-skin #cloudcase-form h5 {
  margin-top: 1.5rem;
}
.cloudcase-skin .h1,
.cloudcase-skin #cloudcase-form .h1,
.cloudcase-skin .h2,
.cloudcase-skin #cloudcase-form .h2,
.cloudcase-skin .h3,
.cloudcase-skin #cloudcase-form .h3,
.cloudcase-skin .h4,
.cloudcase-skin #cloudcase-form .h4,
.cloudcase-skin .h5,
.cloudcase-skin #cloudcase-form .h5,
.cloudcase-skin .h6,
.cloudcase-skin #cloudcase-form .h6 {
  margin-top: 0;
}
.cloudcase-skin h1,
.cloudcase-skin #cloudcase-form h1,
.cloudcase-skin h2,
.cloudcase-skin #cloudcase-form h2 {
  font-size: 35px;
}
.cloudcase-skin h3,
.cloudcase-skin #cloudcase-form h3,
.cloudcase-skin .h3,
.cloudcase-skin #cloudcase-form .h3 {
  font-size: 28px;
}
.cloudcase-skin h4,
.cloudcase-skin #cloudcase-form h4,
.cloudcase-skin .h4,
.cloudcase-skin #cloudcase-form .h4 {
  font-size: 24px;
}
.cloudcase-skin h5,
.cloudcase-skin #cloudcase-form h5,
.cloudcase-skin .h5,
.cloudcase-skin #cloudcase-form .h5 {
  font-size: 18px;
}
.cloudcase-skin h6,
.cloudcase-skin #cloudcase-form h6,
.cloudcase-skin .h6,
.cloudcase-skin #cloudcase-form .h6 {
  font-size: 14px;
}
.cloudcase-skin p a,
.cloudcase-skin #cloudcase-form p a {
  color: #00424d !important;
}

/* Forms */
[class*="alert-"] {
  font-family: "Karbon" !important;
  text-align: left;
  color: inherit;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* Modal customisations */
.cloudcase-skin .ui-dialog {
  left: 50% !important;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 100% !important;
}
.cloudcase-skin .ui-widget-overlay {
  background: #00424d;
  opacity: 0.95;
}
.cloudcase-skin .ui-dialog-titlebar-close {
  outline: 0;
}
.cloudcase-skin .ui-dialog-titlebar-close .ui-button-icon {
  background: none;
  text-indent: 0;
  display: block;
  position: relative;
  padding: 5px;
  box-sizing: content-box;
  top: 7px;
  left: auto;
  border-radius: 50%;
}
.cloudcase-skin .ui-dialog-titlebar-close .ui-button-icon:hover {
  background-color: #f7f7f7;
}
.cloudcase-skin .ui-dialog-titlebar-close .ui-button-icon:before,
.cloudcase-skin .ui-dialog-titlebar-close .ui-button-icon:after {
  position: absolute;
  top: 4px;
  left: 12px;
  content: "";
  height: 18px;
  width: 2px;
  background-color: #00424d;
}
.cloudcase-skin .ui-dialog-titlebar-close .ui-button-icon:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cloudcase-skin .ui-dialog-titlebar-close .ui-button-icon:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cloudcase-skin .ui-dialog .ui-dialog-titlebar {
  border-bottom: 0;
  overflow: visible;
  font-family: "Karbon", "Open Sans";
  font-size: 35px;
  line-height: 1;
  color: #00424d;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cloudcase-skin .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  font-weight: 800;
  white-space: normal;
  padding: 0;
  margin-top: 1.5rem;
}
.cloudcase-skin .ui-dialog .ui-dialog-titlebar-close {
  top: .3em;
  margin-top: 0;
}
.cloudcase-skin .ui-dialog .ui-dialog-content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cloudcase-skin .ui-dialog .ui-dialog-buttonpane {
  border-top: 0;
  padding: 1.5rem;
  text-align: center;
}
.cloudcase-skin .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* Checkbox toggles */
label.input-toggle {
  line-height: 0;
  font-size: 0;
  display: inline-block;
  margin: 0;
}
label.input-toggle > span {
  margin: 0;
  display: inline-block;
  position: relative;
  background-color: #fff;
  border-radius: 32px;
  width: 36px;
  height: 10px;
  cursor: pointer;
  -webkit-transition: background-position 0.2s ease-in;
  -moz-transition: background-position 0.2s ease-in;
  transition: background-position 0.2s ease-in;
}
label.input-toggle > span i {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #d8e5f0;
  border: 1px solid #fff;
  /*-webkit-align-self: center;*/
  /*-ms-flex-item-align: center;*/
  /*align-self: center;*/
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: left 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.3s ease;
  transition: left 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.3s ease;
  transition: left 0.2s ease-in, background-color 0.2s ease-in, transform 0.3s ease;
}
label.input-toggle > input:checked + span i,
label.input-toggle > input:active + span i {
  left: calc(100% - 20px);
  background-color: #a5d867;
}
label.input-toggle > span i svg {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in, visibility 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in, visibility 0.2s ease-in;
  transition: opacity 0.2s ease-in, visibility 0.2s ease-in;
}
label.input-toggle > input:checked + span i svg,
label.input-toggle > input:active + span i svg {
  opacity: 1;
  visibility: visible;
}
label.input-toggle > input:disabled,
label.input-toggle > input:disabled + span {
  opacity: 0.5;
  cursor: not-allowed;
}
label.input-toggle > input {
  display: block;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
/* * * * * * * * * * * */


@media (min-device-width: 768px) and (min-width: 768px) {
  .cloudcase-skin #cloudcase-form .btn:not(.dropdown-toggle),
  .cloudcase-skin #cloudcase-form .multiAnswerGroup .btn,
  .cloudcase-skin .ui-dialog .btn,
  .cloudcase-skin .ui-dialog .ui-dialog-buttonpane .btn {
    width: auto;
    min-width: 12rem !important;
  }

  /* Responsive modals, whilst avoiding increasing width of loading spinner */
  .cloudcase-skin .ui-dialog:not([aria-describedby="progressDialog"]) {
    width: 48rem !important;
  }

  .cloudcase-skin .sm-h4 {
    font-size: 24px;
  }
}

@media (min-device-width: 959px) and (min-width: 959px) {
  .cloudcase-skin #header h1 {
    display: none;
  }

  .cloudcase-skin #cloudcase-form .sectionHeader {
    padding: 1.5rem 2.5rem;
    margin-bottom: 2rem;
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .cloudcase-skin #cloudcase-form {
    border-left: none;
    margin-top: 32px;
  }

  .cloudcase-skin #cloudcase-form legend {
    border-left: none;
    padding-left: 0;
    background-color: transparent;
  }

  .cloudcase-skin #cloudcase-form .form-control,
  .cloudcase-skin #cloudcase-form input[type="file"] {
    border: 0;
    padding: 0;
  }

  .cloudcase-skin #logo {
    margin-top: 2px;
  }

  .cloudcase-skin #cloudcase-form .collapse, .cloudcase-skin #cloudcase-form .collapsing {
    display: block;
  }

  .cloudcase-skin #cloudcase-form .sectionHeader > .overlay-container {
    display: block;
    position: static;
    margin: 0px;
    float: left;
  }

  .cloudcase-skin #cloudcase-form .sectionHeader > .overlay-container > .overlay {
    z-index: 9;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    opacity: .8;
    background-color: #efefef;
  }

  .cloudcase-skin #cloudcase-form .questions.selected .sectionHeader > .overlay-container {
    display: none;
  }

  .cloudcase-skin #cloudcase-form .questions.selected .sectionHeader {
    background-color: #ffffff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #e0e0e0;
  }

  .cloudcase-skin #cloudcase-form .sections-container + .buttonPanel {
    margin-top: 0px;
  }

  .cloudcase-skin #cloudcase-form .form-control, .cloudcase-skin #cloudcase-form input[type="file"] {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000)), -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#d2d2d2));
    background-image: -webkit-linear-gradient(#000000, #000000), -webkit-linear-gradient(#d2d2d2, #d2d2d2);
    background-image: -o-linear-gradient(#000000, #000000), -o-linear-gradient(#d2d2d2, #d2d2d2);
    background-image: linear-gradient(#000000, #000000), linear-gradient(#d2d2d2, #d2d2d2);
    -webkit-background-size: 0 2px, 100% 1px;
    -moz-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background 0s ease-out;
    -moz-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .cloudcase-skin #cloudcase-form .form-control:focus, .cloudcase-skin #cloudcase-form input[type="file"]:focus {
    outline: none;
    /*
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000)), -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#d2d2d2));
    background-image: -webkit-linear-gradient(#000000, #000000), -webkit-linear-gradient(#d2d2d2, #d2d2d2);
    background-image: -o-linear-gradient(#000000, #000000), -o-linear-gradient(#d2d2d2, #d2d2d2);
    background-image: linear-gradient(#000000, #000000), linear-gradient(#d2d2d2, #d2d2d2);
    */
    -webkit-background-size: 100% 2px, 100% 1px;
    -moz-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  .cloudcase-skin #cloudcase-form .form-control[disabled] {
    background-image: none;
    border-bottom: 1px dotted #d2d2d2;
  }

  .cloudcase-skin #cloudcase-form #page {
    margin-top: 30px;
  }

  .cloudcase-skin #cloudcase-form .buttonPanel:nth-of-type(1) {
    display: none;
  }

  .cloudcase-skin #cloudcase-form .btn:not(.dropdown-toggle),
  .cloudcase-skin #cloudcase-form .multiAnswerGroup .btn,
  .cloudcase-skin .ui-dialog .btn,
  .cloudcase-skin .ui-dialog .ui-dialog-buttonpane .btn {
    min-height: 3.2rem !important;
  }

  .cloudcase-skin #cloudcase-form .btn.btn-sm:not(.dropdown-toggle),
  .cloudcase-skin #cloudcase-form .multiAnswerGroup btn.btn-sm {
    min-height: auto !important;
    width: auto !important;
  }

  .cloudcase-skin .ui-dialog .ui-dialog-titlebar,
  .cloudcase-skin .ui-dialog .ui-dialog-content {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .cloudcase-skin .ui-dialog .ui-dialog-titlebar {
    padding-top: 1rem;
  }
}

/* responsive - non-desktop devices */
@media (min-device-width: 0px) and (max-device-width: 959px), (min-width: 0px) and (max-width: 959px) {
  .cloudcase-skin #cloudcase-form .panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding: 1.5rem;
  }

  .cloudcase-skin #cloudcase-form .sectionHeader > div {
    margin-left: 0;
    margin-right: 0;
  }

  .cloudcase-skin #cloudcase-form .sectionHeader::before {
    display: none;
  }

  .cloudcase-skin #cloudcase-form .sectionHeader::after {
    display: none;
  }

  .cloudcase-skin #cloudcase-form .buttonPanel > .previous {
    display: none;
  }

  .cloudcase-skin #cloudcase-form .buttonPanel:nth-of-type(1) {
    display: block;
  }

  .cloudcase-skin #cloudcase-form .buttonPanel:nth-of-type(1) > .previous {
    display: block;
    float: left;
    text-align: left;
    width: auto;
    background-color: #ffffff !important;
    border-color: #ffffff;
    margin-top: -1rem;
    padding-left: 1rem;
    margin-left: -1rem;
  }

  .cloudcase-skin #cloudcase-form .buttonPanel:nth-of-type(1) > .btn.previous:before {
    display: inline-block;
    margin-right: 0.5rem;
    right: 0 !important;
  }

  .cloudcase-skin #cloudcase-form .buttonPanel:nth-of-type(1) > .btn.previous:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .cloudcase-skin #cloudcase-form .buttonPanel:nth-of-type(1) > .next {
    display: none;
  }

  .cloudcase-skin #cloudcase-form .buttonPanel:nth-of-type(1) > .save {
    display: none;
  }

  .cloudcase-skin #cloudcase-form .fullWidthQuestion > .questionAnnotationsAndText {
    padding-right: 0;
  }
}

/* -------------------------------------------------------------------------- */
/* small screens e.g. mobiles in portrait. All media. */
/* -------------------------------------------------------------------------- */
@media (min-device-width: 0px) and (max-device-width: 649px), (max-width: 649px) and (min-width: 0px) {
  .cloudcase-skin #header {
    height: 50px;
  }

  .cloudcase-skin #header #logo {
    margin-top: 2px;
    width: 200px;
    height: 32px;
    background-size: cover;
    left: 50%;
    margin-left: -100px;
  }

  .cloudcase-skin #header h1 {
    display: none;
  }

  .cloudcase-skin .buttonPanel input[type="button"],
  .cloudcase-skin .buttonPanel button, .cloudcase-skin input[type="button"].uploadDocumentButton {
    display: block;
    width: 100%;
  }

  .cloudcase-skin .btn.previous {
    float: right;
  }
}

/* -------------------------------------------------------------------------- */
/* medium screens and small screens. e.g. mobiles and tablets. All media. */
/* -------------------------------------------------------------------------- */
@media (min-device-width: 0px) and (max-device-width: 1199px), (min-width: 0px) and (max-width: 1199px) {
  .cloudcase-skin #header h1 {
    float: right;
    text-align: right;
    text-transform: none;
  }

  .cloudcase-skin #header h1 {
    display: none;
  }

  .cloudcase-skin #logo {
    margin-left: 26px;
    margin-top: 16px;
  }

  .cloudcase-skin #cloudcase-form legend {
    font-size: 35px;
    margin-top: 0;
  }
}

@media (min-device-width: 0px) and (max-device-width: 959px), (min-width: 0px) and (max-width: 959px) {
  .cloudcase-skin #cloudcase-form {
    margin-top: 0px;
  }

  .cloudcase-skin #cloudcase-form .panel-group .panel {
    border-bottom: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .cloudcase-skin #cloudcase-form .sectionHeader > .overlay-container {
    display: none;
  }

  .cloudcase-skin #cloudcase-form .multiAnswerGroup > div > .answerText {
    padding-right: 32px;
    padding-left: 32px;
  }

  .cloudcase-skin #cloudcase-form .multiAnswerGroup input[type="radio"] + label:before, #cloudcase-form .multiAnswerGroup input[type="checkbox"] + label:before {
    margin-top: -4px;
    margin-left: -46px;
    margin-right: 30px;
  }

  .cloudcase-skin #cloudcase-form .multiAnswerGroup div.radio-inline, .cloudcase-skin #cloudcase-form .multiAnswerGroup div.checkbox-inline {
    width: 100%
  }

  .cloudcase-skin #cloudcase-form .input-group .input-group-btn button {
    border: 1px solid #bdbdbd;
    border-left: none;
  }

  .cloudcase-skin #cloudcase-form h3:not(.h3) {
    font-size: 24px !important;
  }
}

/* -------------------------------------------------------------------------- */
/* big screens, but not small or medium screens */
/* -------------------------------------------------------------------------- */
@media (min-device-width: 1200px) and (min-width: 1200px) {
  .cloudcase-skin #logo {
    margin-top: 22px;
  }

  .cloudcase-skin #header {
    width: 1200px;
  }

  .cloudcase-skin #header h1 {
    display: none;
  }

  .cloudcase-skin .panel-group {
    border: none;
  }

  .cloudcase-skin .panel-group .panel {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .cloudcase-skin .panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding-top: 0px;
    border: none;
  }

  .cloudcase-skin .sectionHeader > div {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0;
  }

  .cloudcase-skin .panel-default > .panel-heading.selected {
    display: none;
  }

  .cloudcase-skin .sectionHeader {
    width: 870px;
    margin-left: -30px;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .cloudcase-skin legend {
    padding: 20px 28px 20px 28px;
    background-color: #fff;
  }

  .cloudcase-skin #container {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 4px;
  }

  body.cloudcase-skin {
    background-color: #f7f7f7;
  }

  .cloudcase-skin .questionContent textarea.form-control {
    width: 768px;
    max-width: 768px;
  }

  .cloudcase-skin .fixedWidthQuestion .questionText {
    width: 310px;
  }

  .cloudcase-skin .floatingWidthQuestion .questionText {
    min-width: 310px;
  }

  .cloudcase-skin .fixedWidthQuestion > .questionOutcomeContainer {
    margin-left: 310px;
  }

  .cloudcase-skin .floatingWidthQuestion > .questionOutcomeContainer {
    margin-left: 310px;
  }

  .cloudcase-skin .multiAnswerGroup input[type="radio"] + label:before, .cloudcase-skin .multiAnswerGroup input[type="checkbox"] + label:before {
    font-size: 24px;
    margin-right: 14px;
  }

  .cloudcase-skin #cloudcase-form #cloudcase-page-container {
    margin-left: 360px;
  }

  .cloudcase-skin #cloudcase-form .buttonPanel {
    margin-left: -38px;
    max-width: none;
    width: calc(100% + 1rem);
  }

  .cloudcase-skin #cloudcase-form .btn:not(.dropdown-toggle),
  .cloudcase-skin #cloudcase-form .multiAnswerGroup .btn,
  .cloudcase-skin .ui-dialog .btn,
  .cloudcase-skin .ui-dialog .ui-dialog-buttonpane .btn {
    min-height: 3.5rem !important;
    padding-top: 1.1rem;
  }

  .cloudcase-skin #cloudcase-form .btn.btn-sm:not(.dropdown-toggle),
  .cloudcase-skin #cloudcase-form .multiAnswerGroup btn.btn-sm {
    min-height: auto !important;
    /*padding-top: 0.7rem;*/
  }
}

/** Bank Selector Widget Styling **/
.multiAnswerGroup > .rab-cdr {
  float: none !important
}
#cloudcase-form #page_AffordabilityAssessmentChooseYourBanks .shownQuestionPanel.hiddenQuestionTextPanel,
#cloudcase-form #page_ConnectToBank .shownQuestionPanel.hiddenQuestionTextPanel {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
#cloudcase-form #page_AffordabilityAssessmentChooseYourBanks .questionContainer.fullWidthQuestion .multiAnswerGroup,
#cloudcase-form #page_ConnectToBank .questionContainer.fullWidthQuestion .multiAnswerGroup {
  margin-left: 0;
}
#cloudcase-form #page_AffordabilityAssessmentChooseYourBanks .questionContainer.fullWidthQuestion > .questionContent,
#cloudcase-form #page_ConnectToBank .questionContainer.fullWidthQuestion > .questionContent {
  margin-top: 0px !important;
  width: 100% !important;
}
#cloudcase-form #page_AffordabilityAssessmentChooseYourBanks .questionContainer,
#cloudcase-form #page_ConnectToBank .questionContainer {
  margin-bottom: 0 !important;
}

/* Custom scoped CSS for RAB CDR and PLE. */