/* NOTE: This CSS sits at the top of the `RABSkin` extension in the rulebook. */

/** Bank Selector Widget Styling **/
.multiAnswerGroup > .rab-cdr {
  float: none !important
}
#cloudcase-form #page_AffordabilityAssessmentChooseYourBanks .shownQuestionPanel.hiddenQuestionTextPanel,
#cloudcase-form #page_ConnectToBank .shownQuestionPanel.hiddenQuestionTextPanel {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
#cloudcase-form #page_AffordabilityAssessmentChooseYourBanks .questionContainer.fullWidthQuestion .multiAnswerGroup,
#cloudcase-form #page_ConnectToBank .questionContainer.fullWidthQuestion .multiAnswerGroup {
  margin-left: 0;
}
#cloudcase-form #page_AffordabilityAssessmentChooseYourBanks .questionContainer.fullWidthQuestion > .questionContent,
#cloudcase-form #page_ConnectToBank .questionContainer.fullWidthQuestion > .questionContent {
  margin-top: 0px !important;
  width: 100% !important;
}
#cloudcase-form #page_AffordabilityAssessmentChooseYourBanks .questionContainer,
#cloudcase-form #page_ConnectToBank .questionContainer {
  margin-bottom: 0 !important;
}
#vue-modal {
  margin-top: 20px;
}
.mobile-infobox-overlay {
  display: none;
}
.mobile-infobox-overlay.active {
  display: block;
}
.infobox-tablet,
.infobox-desktop {
  display: none;
  padding: 1rem;
  font-size: 13px;
}
.infobox-mobile {
  position: fixed;
  z-index: 101;
  bottom: 0;
  max-height: 0px;
  left: 0;
  right: 0;
  flex-direction: column;
  -webkit-transition: max-height 0.4s ease;
  -moz-transition: max-height 0.4s ease;
  transition: max-height 0.4s ease;
}
.infobox-mobile-header {
  width: 100%;
  height: 60px;
  border-radius: 15px 15px 0px 0px;
}
.infobox-mobile.active {
  max-height: 250px;
  display: flex;
}
.infobox-desktop {
  display: none;
}
@media (min-width: 650px) {
  .mobile-infobox-overlay.active {
    display: none;
  }
  .infobox-tablet {
    display: block;
  }
  .infobox-mobile.active {
    display: none;
  }
}
@media (min-width: 1200px) {
  .infobox-tablet {
    display: none;
  }
  .infobox-desktop.active {
    display: block;
  }
}
.infobox-tablet .toggle-tablet-infobox,
.infobox-mobile .toggle-mobile-infobox {
  width: 20px;
  border-radius: 50%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  backdrop-filter: blur(54.3656px);
}
.infobox-mobile .toggle-mobile-infobox {
  height: 24px;
  width: 24px;
}

.infobox-tablet strong,
.infobox-desktop strong,
.infobox-mobile strong {
  font-style: italic;
  font-size: 16px;
  line-height: 19px;
}
.infobox-tablet.info,
.infobox-desktop.info,
.infobox-mobile.info .infobox-mobile-header {
  color: #31708F;
  background: #F5FAFF;
  border: 1px solid #E9F6FF;
}
.infobox-mobile.info {
  color: #31708F;
}
.infobox-tablet.info strong,
.infobox-tablet.info a,
.infobox-desktop.info strong,
.infobox-desktop.info a,
.infobox-mobile.info strong,
.infobox-mobile.info a {
  color: #245269;
  font-weight: 800;
}
.infobox-tablet.info .toggle-tablet-infobox,
.infobox-mobile.info .toggle-mobile-infobox {
  background-color: #98B7C7;
}
.infobox-tablet.success,
.infobox-desktop.success,
.infobox-mobile.success .infobox-mobile-header {
  color: #3C763D;
  background: #DFF0D8;
  border: 1px solid #D0E9C6;
}
.infobox-mobile.success {
  color: #3C763D;
}
.infobox-tablet.success strong,
.infobox-tablet.success a,
.infobox-desktop.success strong,
.infobox-desktop.success a,
.infobox-mobile.success strong,
.infobox-mobile.success a {
  color: #224421;
  font-weight: 800;
}
.infobox-tablet.success .toggle-tablet-infobox,
.infobox-mobile.success .toggle-mobile-infobox {
  background-color: #9DBA9E;
}
.infobox-tablet.warning,
.infobox-desktop.warning,
.infobox-mobile.warning .infobox-mobile-header {
  color: #8A6D3B;
  background: #FCF8E3;
  border: 1px solid #FAF2CC;
}
.infobox-mobile.warning {
  color: #8A6D3B;
}
.infobox-tablet.warning strong,
.infobox-tablet.warning a,
.infobox-desktop.warning strong,
.infobox-desktop.warning a,
.infobox-mobile.warning strong,
.infobox-mobile.warning a {
  color: #66512C;
  font-weight: 800;
}
.infobox-tablet.warning .toggle-tablet-infobox,
.infobox-mobile.warning .toggle-mobile-infobox {
  background-color: #C4B69D;
}
.infobox-tablet.error,
.infobox-desktop.error,
.infobox-mobile.error .infobox-mobile-header {
  color: #A94442;
  background: #F2DEDE;
  border: 1px solid #EBCCCC;
}
.infobox-mobile.error {
  color: #A94442;
}
.infobox-tablet.error strong,
.infobox-tablet.error a,
.infobox-desktop.error strong,
.infobox-desktop.error a,
.infobox-mobile.error strong,
.infobox-mobile.error a {
  color: #721C24;
  font-weight: 800;
}
.infobox-tablet.error .toggle-tablet-infobox,
.infobox-mobile.error .toggle-mobile-infobox {
  background-color: #D4A1A0;
}

/* Typography */
/* Default font family and colour */
#cloudcase-page-container,
.ui-dialog {
  color: #616161;
  font-family: Karbon;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}

/* Modals */
.ui-dialog.ui-widget.ui-widget-content {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar {
  -webkit-border-top-left-radius-radius: 12px;
  -moz-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -webkit-border-top-right-radius-radius: 12px;
  -moz-border-top-right-radius: 12px;
  border-top-right-radius: 12px;
}
.ui-dialog.ui-widget.ui-widget-content .btn-modal {
  border: 1px solid #000;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  color: #000;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 800;
  min-height: auto;
}


/* Utilities */
.text-feature {
  padding-left: 1rem;
  padding-right: 1rem;
  color: #00424d;
  font-size: 20px;
  line-height: 1.25;
  border-left: 3px solid #a5d867;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Icons and Bullets */

/* Alerts */
